{% extends "layout.html" %}
{% block content %}
<div class="story-title">
    <h3 class="story-title1">Why I created this blog</h3>
    <p class="my-text">We all have families, friends and loved ones all over the world and sometimes linking up and sharing ideas 
        becomes difficult because of less mode of communication.</p>
    <p class="my-text">Something cool happens to your brain whenever you experience something new. 
        There’s a lengthy scientific explanation that involves words like “substantia nigra” 
        and “stimuli” but the short version is that your brain likes to discover new things. 
        And what better way to discover something new than by traveling the world?</p>
    <p class="my-text">People who travel are happier, healthier, creative, more experienced and like to share 
        their thoughts and information. That’s why I created Info Blog - to change the way 
        we discover and share our experience to the world. I wanted to inspire people to 
        explore as least what is going on in different countries or simply reading 
        a story about an exotic location while curled up at home.</p>
</div>
{% endblock content %}